# Archivos de credenciales (¡Seguridad!)
secrets.yaml

# Archivos de caché y compilación (EN CUALQUIER DIRECTORIO)
# Sin la barra "/" al inicio, Git los ignora recursivamente.
.esphome/
.platformio/
build/
.pioenvs/
.piolibdeps/

# Archivos binarios de firmware
*.bin
*.elf
*.map

# Archivos de caché del SO
.DS_Store
Thumbs.db

# Prompts para IA
prompts_raw/
*.raw.md
*.raw.txt