# --- ESPHome & PlatformIO ---
.esphome/
.pio/
.pioenvs/
deps/
.temp/

# Seguridad (IMPORTANTE: nunca subir claves)
secrets.yaml

# --- FreeCAD ---
*.FCBak
*.FCStd1
*.lock

# --- Sistema y Editores ---
*.swp
*~
.DS_Store
Thumbs.db
